/.vs/RandLaunch/v15/.suo
/.vs/RandLaunch/v15/Server/sqlite3/db.lock
/.vs/RandLaunch/v15/Server/sqlite3/storage.ide
/.vs/RandLaunch/v15/Server/sqlite3/storage.ide-shm
/.vs/RandLaunch/v15/Server/sqlite3/storage.ide-wal
/RandLaunch/bin/Debug/RandLaunch.exe
/RandLaunch/bin/Debug/RandLaunch.pdb
/RandLaunch/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/RandLaunch/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RandLaunch/obj/Debug/RandLaunch.csproj.CoreCompileInputs.cache
/RandLaunch/obj/Debug/RandLaunch.csproj.FileListAbsolute.txt
/RandLaunch/obj/Debug/RandLaunch.csproj.GenerateResource.cache
/RandLaunch/obj/Debug/RandLaunch.csprojAssemblyReference.cache
/RandLaunch/obj/Debug/RandLaunch.exe
/RandLaunch/obj/Debug/RandLaunch.pdb
/.vs/RandLaunch/DesignTimeBuild/.dtbcache
/.vs/RandLaunch/v15/.suo
